* {
  margin: 0;
}
body {
  font-family: "Figtree", serif;
  background-color: hsl(225, 100%, 94%);
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: repeat-x;
  display: flex;
  height: 96vh;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 380px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 15px 20px hsla(224, 23%, 55%, 0.2);
}
.illustration-hero {
  width: 100%;
  border-radius: 15px 15px 0 0;
  margin-bottom: 15px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}
.title {
  margin: 0 auto;
  color: hsl(223, 47%, 23%);
  font-size: 24px;
}
.information {
  margin: 0 auto;
  line-height: 1.6;
  text-align: center;
  color: hsl(224, 23%, 55%);
}
.conditions {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.terms {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1.5;
  color: hsl(223, 47%, 23%);
}
.change {
  color: hsl(245, 80%, 40%);
  transition: 0.3s;
}
.change:hover {
  color: hsl(245, 75%, 60%);
  text-decoration: none;
}
.payment {
  cursor: pointer;
  width: 90%;
  margin: 0 auto;
  background-color: hsl(245, 75%, 52%);
  box-shadow: 0 10px 15px hsla(245, 75%, 52%, 0.3);
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  transition: 0.3s;
}
.payment:hover {
  background-color: hsl(245, 75%, 60%);
}
.cancel {
  margin: 0 auto;
  color: hsl(245, 75%, 52%);
  text-decoration: none;
}
.cancel:hover {
  color: hsl(223, 47%, 23%);
}